@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media (min-width: 1290px) {
	.container {
		width: 1280px;
	}
}

@media screen and (max-width: 1280px) {
	.main_mid_p>.container {
		padding-right: 15px;
	}

	.top_slider .slick-prev {
		left: 0;
	}

	.top_slider .slick-next {
		right: 0;
	}

	.contact_phone_n .row .col-sm-12 {
		text-align: center;
	}

	.contact_phone_n .phone_city_item {
		text-align: left;
	}
}

@media screen and (max-width: 1024px) {

	#accordion3 {
		display: block;
	}

	.main_footer_content ul li {
		padding: 12px 0;
		position: relative;
	}

	.main_footer_content ul li:after {
		content: "";
		display: block;
		clear: both;
	}

	.docs_category {
		margin-top: 20px;
	}
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.left_side.col-sm-pull-10 {
			right: 790px;
		}

		.docs_block {
			min-height: inherit;
			margin-bottom: 75px;
		}

		.d_t.catalog_item_desc div {
			display: block;
			text-align: center;
		}

		.d_t.catalog_item_desc .catalog_item_img {
			height: 178px;
		}

		.d_t.catalog_item_desc div img {
			width: 100%;
			height: auto;
		}

		.catalog_item, .catalog_item_img {
			position: relative;
		}
		.catalog_item_title {
			position: absolute;
			top: 70px;
			z-index: 40;
			left: 0;
			right: 0;
		}
		.catalog_item_desc p {
			min-height: 110px;
		}
		.catalog_item_title h2 {
			color: #fff;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.3);
		}
		.catalog_item_img:after {
			content: "";
			width: 100%;
			height: 20%;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-image: url(../img/sharp_lines.png);
		}

		.catalog_item, .catalog_stuff_box .row, .catalog_stuff_box .row [class*="col-"] {
			height: auto;
		}

		.side_list li a {
			font-size: 13px;
		}

		.top_slider_content_box {
			width: 31.3%;
			margin: 0 1%;
		}

		.top_slider_content_box_green .top_slider_img {
			background-color: #8db501;
		}
		.top_slider_img {
			padding-bottom: 60px;
			background-color: #30699b;
		}

		.sale_item {
			padding: 10px;
		}
		.top_slider_text {
			font-size: 14px;
		}

		.cart {
			padding-left: 20px;
		}

		.contacts_block {
			padding-right: 0;
		}

		.contacts_block form {
			padding-right: 0;
		}

		.invert2_price {
			padding-left: 20px;
		}

		.count-input input {
			margin: 0 10px;
		}

		.left_side {
			width: 230px;
		}

		.right_side.col-sm-push-2 {
			left: 230px;
		}

		.right_side {
			width: 790px;
		}

		.header_logo img{
		}

		.header_tel span {
			font-size: 16px;
			padding-left: 3px;
		}

		.callback_btn a:before {
			left: 15px;
		}

		.header_head .d_t .d_t_r .d_t_c:first-child {
			display: none;
		}

		.callback_btn a {
			padding: 15px 5px 15px 55px;
			width: 100%;
		}

		.footer_double_list {
			margin-right: 20px;
			width: 40%;
		}

		.side_add_link a {
			font-size: 15px;
		}

		.ner_light {
			font-size: 13px;
		}

		.phone_city_item .city_num {
			font-size: 13px;
		}

		.contact_info {
			min-width: 70px;
		}

		.work_time {
			min-width: 80px;
		}

		.phone_tarif {
			font-size: 10px;
			padding-left: 10px;
		}

		.header_tel {
			min-width: 130px;
			padding-left: 10px;
		}

		.header_tel_phone {
			padding-left: 3px;
		}

		.header_logo {
			margin-left: -32px;
			position: relative;
			left: 19px;
		}

		.diller {
			margin-right: -25px;
		}

		.h_socials {
			left: 135px;
		}
		.sale_stuff_box.catalog_stuff_box>.row>.col-sm-6{
			width: 49.9%;
		}

		.phone_city_item:last-child {
			padding-right: 0;
		}

		.main_footer_content ul li a, .news_list_img {
			display: block;
			float: left;
			width: 70%;
			vertical-align: middle;
		}

		.news_list_img {
			width: 10%;
			margin: -10px 10px 0 0;
		}

		.main_footer_content ul li {
			padding: 18px 0;
		}

		.main_footer_content ul li:last-child a, .main_footer_content ul li:last-child {
			padding-bottom: 20px;
		}

		.main_footer_content ul li a {
			font-size: 12px;
		}

		.news_list_img {
			padding-right: 10px;
		}

		.left_side.hidden-lg.pd {
			display: none;
		}

		.top_slider_content {
			padding: 0 10px;
		}

		.phone_city_item {
			padding: 0 18px;
		}

		.container {
			width: 100%;
		}

		.sale_item {
			margin-bottom: 20px;
			height: 324px;
		}

		.main_footer_part {
			max-height: 233px;
		}

		.sale_stuff_box .row {
			display: block;
		}

		.header_head .d_t_c {
			width: 1%;
			padding: 0 10px;
		}

		.h_enter {
			right: 245px;
		}

		.header_head {
		}
}

@media screen and (max-width: 1260px) and (min-width: 1153px) {
	.container	{
		width: 1120px;
	}
	.main_footer_content ul li {
		padding: 15px 0;
	}
	.news_list_img {
		padding-right: 10px;
	}
	.main_footer_content ul li a, .news_list_img {
		display: block;
		float: left;
		width: 70%;
		vertical-align: middle;
	} .news_list_img {
		margin-top: -5px	
	}
	.main_footer_content ul li:after {
		content: "";
		display: block;
		clear: both;
	}
	.news_list_img {
		width: 10%;
	}
	.top_slider_img {
		padding-bottom: 60px;
		background-color: #30699b;
	}
	.top_slider_content_box {
		width: 31.3%;
		margin: 0 1%;
	}
	.top_slider_content {
		padding: 0 10px;
	}

	.phone_city_item {
		padding: 0 15px;
	}
}

@media screen and (max-width: 1365px) and (min-width: 1025px) {
	.catalog_stuff_box .row, .catalog_item, .catalog_stuff_box .row [class*="col-"] {
		height: auto;
	}

	.catalog_item_title h2 {
		font-size: 19px;
	}

	.catalog_item_desc p {
		font-size: 12px;
	}

	.container	{
	}
	.top_slider_img {
		padding-bottom: 60px;
		background-color: #30699b;
	}
	.top_slider_content_box {
		width: 31.3%;
		margin: 0 1%;
	}
	.top_slider_content {
		padding: 0 10px;
	}

	.phone_city_item {
		padding: 0 22px;
	}

	.header_tel span {
		font-size: 11px;
	}

	.header_tel_phone {
		font-size: 13px;
	}

	.callback_btn a:before {
		left: 15px;
	}

	.phone_city_item .city_num {
		font-size: 14px;
	}

	.phone_tarif {
		font-size: 8px;
		padding-left: 25px;
	}

	.header_head {
		padding: 30px; 0;
	}

	.header_tel {
		min-width: 130px;
	}
	.callback_btn a {
		padding: 15px 25px 15px 45px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.callback_btn a, .diller a {
		white-space: nowrap;
	}

	.contact_info_item, .work_time span {
		white-space: nowrap;
	}
} 

@media (width: 1200px) {
	.main_footer_content ul li a {
		width:80%;
	}
	.main_footer_content ul li {
		padding: 17px 0;
	}
}

@media screen and (max-width: 1152px) and (min-width: 1100px) {
	.container	{
		width: 1070px;
	}
	.main_footer_content ul li {
		padding: 10px 0;
	}
	.news_list_img {
		padding-right: 10px;
	}

	.news_list_img {
		margin-top: 0px;
	}
	.main_footer_content ul li a, .news_list_img {
		display: block;
		float: left;
		width: 70%;
		vertical-align: middle;
	}
	.main_footer_content ul li:after {
		content: "";
		display: block;
		clear: both;
	}
	.news_list_img {
		width: 10%;
	}
	.top_slider_img {
		padding-bottom: 60px;
		background-color: #30699b;
	}
	.top_slider_content_box {
		width: 31.3%;
		margin: 0 1%;
	}
	.top_slider_content {
		padding: 0 10px;
	}

	.phone_city_item {
		padding: 0 8px;
	}

	.header_tel span {
		font-size: 13px;
	}

	.callback_btn a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.callback_btn a, .diller a {
		white-space: nowrap;
	}

	.contact_info_item, .work_time span {
		white-space: nowrap;
	}
}

@media screen and (max-width: 1100px) and (min-width: 1050px) {
	.container	{
		width: 1000px;
	}
	.main_footer_content ul li {
		padding: 10px 0;
	}
	.news_list_img {
		padding-right: 10px;
	}
	.main_footer_content ul li a, .news_list_img {
		display: block;
		float: left;
		width: 70%;
		vertical-align: middle;
	}
	.main_footer_content ul li:after {
		content: "";
		display: block;
		clear: both;
	}
	.news_list_img {
		width: 10%;
		margin-top: 0;
	}
	.top_slider_img {
		padding-bottom: 60px;
		background-color: #30699b;
	}
	.top_slider_content_box {
		width: 31.3%;
		margin: 0 1%;
	}
	.top_slider_content {
		padding: 0 10px;
	}

	.phone_city_item {
		padding: 0 8px;
	}

	.header_tel span {
		font-size: 13px;
	}

	.callback_btn a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.callback_btn a, .diller a {
		white-space: nowrap;
	}

	.contact_info_item, .work_time span {
		white-space: nowrap;
	}
} 


@media screen and (max-width: 1023px) {

	.side_list .dropdown .dropdown-menu {
		position: relative;
		left: auto;
		float: none;
	}
	.side_list .dropdown .dropdown-menu li {
		padding-left: 20px;
	}
	
	.side_list li.open:after {
		top: 20px;
	}

	.news_list_img {
		overflow: visible;
	}

	.sale_item {
		margin-bottom: 20px;
	}
	.callback, .contact_full, .h_socials, .h_enter {
		display: none;
	}


	.filter_btn a {
		text-align: center;
	}

	.filter_btn a:after {
		background-image: url(../img/settings.png);
		width: 22px;
		height: 18px;
		-webkit-background-size: cover;
		background-size: cover;
		margin-left: 60px;
		right: 0;
		left: 0;
		top: -1px;
	}

	#heading3 h4 a, #heading2 h4 a{
		position: relative;
		text-align: center;
	}

	#heading3 h4 a:after, #heading2 h4 a:after {
		content: "";
		position: absolute;
		background-image: url(../img/detail.png);
		width: 20px;
		height: 20px;
		margin-left: 30px;
		right: 0;
		left: 0;
		top: -2px;
	}

	.main_footer_content ul li {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-content: center;
	}

	.top_slider .slick-prev {
		left: -10px;
	}

	.top_slider .slick-next {
		right: 0px;
	}

	.news_list_img {
		margin-top: 00px;
	}

	.video_slider_box {
		height: 227px;
	}

	.main_footer_part .left_side {
		margin-top: 0;
	}

	.main_footer_part {
		max-height: 255px;
	}

	.contacts_block {
		padding-right: 0;
	}

	.top_slider_content_box {
		margin: auto;
		padding: 0 20px;
		width: 33%;
	}

	.top_slider_img {
		padding-bottom: 40px;
		background-color: #30699b;
	}

	.top_slider_content_box_green .top_slider_img {
		background-color: #8db501;
	}

	.contact_phone_n {
		text-align: center;
	}

	.phone_city_item {
		margin: 5px 0;
	}

	.h_tel, .w_t {
		display: block;
		text-align: center;
	}

	.work_time span {
		display: inline-block;
	}

	.hide_b {
		display: none;
	}

	.f_w_b {
		width: 100%;
	}

	.left_side{
		width: 45%;
		margin-top: 30px;
	}

	.right_side{
		width: 100%;
	}

	.right_side.col-sm-push-2 {
		left: auto;
	}

	.left_side.col-sm-pull-10 {
		right: auto;
		width: 50%;
	}

	.left_side.hidden-lg.pd {
		width: 50%;
	}

	.top_slider {
		/*        margin-top: 0;*/
	}

	.footer_double{
		display: table;
	}

	.footer_list>.footer_double_list{
		float: none;
		display: table-cell;width: 50%;
	}

	.diller a {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		padding: 18px 12px;
		text-align: center;
		line-height: 1.2;
	}

	.lg_d_n {
		display: block;
	}

	.d_t_c.lg_d_n {
		display: table-cell;
	}

	.callback_diller a{
		color: #fff;
		text-align: center;
		background-image: url(../img/sharp_lines.png);
		background-color: #004481;
		background-position: center top;
		background-repeat: no-repeat;
	}

	.diller a img {
		margin: auto;
		height: 25px;
		/*		margin-bottom: 2px;*/
	}
	.catalog_stuff_box .row {
		display: block;
	}


}

@media screen and (max-width: 1023px) and (min-width: 991px) {
	.header_head .d_t_c {
		width: auto;
	}
	.diller {
		margin: auto;
	}
}


@media screen and (max-width: 800px) {
	.header_tel span {
		font-size: 20px;
	}

	.modal-dialog ul {
		text-align: left;
	}

	.top_slider_content_box {
		margin: auto;
		margin-bottom: 20px;
	}

	.top_slider_text {
		padding: 5px;
	}

	.slick-dots {
		margin-left: 0;
		bottom: -10px;
	}

	.top_slider {
		margin-top: 0;
		padding: 0;
	}

	.left_side.col-sm-pull-10 {
		/*		margin-left: -15px;*/
	}

	.top_slider_content {
		padding: 0;
	}

	.top_slider_img {
		padding-bottom: 60px;
	}

	.main_footer_part .right_side, .main_footer_part .left_side {
		width: 50%;
	}

	.left_side {
		margin-top: 0;
	}

	.video_slider_box {
		height: 442px;
	}

	.top_slider_content_box {
		margin-bottom: 20px;
		padding: 0 5px;
	}

	.phone_tarif {
		padding: 0;
	}

	.video_tovar {
		height: auto;
	}

	.panel-group {
		margin-top: 20px;
	}

	.main_mid_p>.container {
		padding-right: 15px;
	}

	.cart {
		padding-left: 20px;
	}

}

@media only screen 
	and (min-device-width: 800px) 
	and (max-device-width: 1280px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 1) {
		.catalog_stuff_box .row {
			height: auto;
		}

		.catalog_item {
			height: 30%!important;
		}
}

@media 
	(min-device-width: 800px) 
	and (max-device-width: 1280px) {
		.catalog_item_img {
			height: 168px;
		}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 991px) and (min-device-width: 801px) and (orientation: landscape) {
	.header_head .d_t_c {
		width: auto;
	}
	.diller {
		margin: auto
	}

	.video_slider_box {
		height: auto;
	}

	.main_footer_part {
		max-height: 265px;
	}
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) 
	and (-webkit-min-device-pixel-ratio: 1){
		.sale_stuff_box .row {
			display: block;
		}

		.left_side.col-sm-pull-10.flw {
			width: 100%;
		}

		.left_side.col-sm-pull-10.flw .panel-group{
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		.invert2_price {
			padding-left: 15px;
		}

		.count-input input {
			margin: 0 5px;
		}

		.adding_tovar .add_to_cart a {
			width: 100%;
		}
		/*
		.video_slider_img img {
		width: 100%;
}

		.video_slider_box {
		height: 242px;
}

		.main_footer_part>.container>.row>.right_side {
		padding-left: 15px!important;
		padding-right: 15px!important;
		margin: auto;
}

		.main_footer_part .right_side, .main_footer_part .left_side {
		width: 100%;
}

		.main_footer_part {
		max-height: inherit;
}
		*/

		.main_footer_part .right_side.main_footer_content {
			padding: 15px 0 !important;
		}

		.catalog_stuff_box .row {
			height: auto;
			display: block;
		}

		.catalog_item {
			height: 36%;
		}

		.catalog_stuff_box .row [class*="col-"] {
			height: auto;
		}

		.main_footer_part .right_side.main_footer_content .col-sm-6{
			width: 100%;
			padding-top: 0;
			margin-top: 5px;
			padding-bottom: 0;
		}

		.catalog_item_desc p {
			min-height: 110px;
		}

		.news_list_img {
			margin: inherit;
			padding: 2px 0;
		}

		.main_footer_part {
			max-height: 363px;
		}

		.video_slider_box {
			height: 362px;
		}

		.main_footer_content ul li {
			padding: 5px 0;
		}

		.main_footer_content ul li a {
			padding: 10px 10px;
			font-size: 11px;
		}
		.filter_btn a {
			text-align: center;
		}

		.filter_btn a:after {
			background-image: url(../img/settings.png);
			width: 22px;
			height: 18px;
			-webkit-background-size: cover;
			background-size: cover;
			margin-left: 60px;
			right: 0;
			left: 0;
			top: -1px;
		}

		#heading3 h4 a:after {
			content: "";
			position: absolute;
			background-image: url(../img/detail.png);
			width: 20px;
			height: 20px;
			margin-left: 30px;
			right: 0;
			left: 0;
			top: -2px;
		}

		#heading3 h4 a {
			position: relative;
			text-align: center;
		}

		.left_side.hidden-lg.pd .panel-group{
			margin-bottom: 0;
		}

		#collapse3 {
			position: absolute;
			margin-top: 0px;
		}

		.d_t.catalog_item_desc div {
			display: block;
			text-align: center;
		}

		.d_t.catalog_item_desc .catalog_item_img {
			height: 178px;
		}

		.d_t.catalog_item_desc div img {
			width: 100%;
			height: auto;
		}

		.catalog_item, .catalog_item_img {
			position: relative;
		}

		#accordion2 {
			/*			margin-left: -15px;*/
		}

		.catalog_item_title {
			position: absolute;
			top: 70px;
			z-index: 40;
			left: 0;
			right: 0;
		}

		.catalog_item_img:after {
			content: "";
			width: 100%;
			height: 20%;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			top: 0;left: 0;right: 0;
			background-image: url(../img/sharp_lines.png);
		}

		.catalog_item_title h2 {
			color: #fff;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.3);
		}

		.main_footer_part>.container, .main_mid_p>.container {
			margin: 0;
			width: 100%;
			padding: 0;
		}

		.main_mid_p>.container>.row, .main_footer_part>.container>.row {
			margin: 0;
		}

		.main_mid_p>.container>.row>.col-sm-10 {
			padding: 0;
		}

		.new_block {
			min-height: inherit;
		}

		.main_mid_p>.container>.row>.col-sm-10>div {
			padding: 0 45px;
		}

		.d_t.catalog_item_desc div {
			display: block;
			text-align: center;
		}

		#heading3 h4 a, #heading2 h4 a{
			position: relative;
			text-align: center;
		}

		#heading3 h4 a:after, #heading2 h4 a:after {
			content: "";
			position: absolute;
			background-image: url(../img/detail.png);
			width: 20px;
			height: 20px;
			margin-left: 30px;
			right: 0;
			left: 0;
			top: -2px;
		}
}

@media only screen 
	and (min-device-width : 1024px) 
	and (max-device-width : 1366px) and (orientation: portrait){ 
		.h_enter {
			right: 135px;
		}
		
		.video_slider_img>img {
			height: 60%;
		}
		
		.callback_btn a {
    padding: 15px 5px 15px 55px;
    width: 100%;
}
		.header_tel {
    min-width: 130px;
    padding-left: 10px;
}

		.header_head {
			padding: 30px 0;
		}
		.left_side.col-sm-pull-10 {
			right: 790px;
		}

		#accordion2 {
			margin-left: 0;
		}

		.docs_block {
			min-height: inherit;
			margin-bottom: 75px;
		}

		.d_t.catalog_item_desc div {
			display: block;
			text-align: center;
		}

		.d_t.catalog_item_desc .catalog_item_img {
			height: 178px;
		}

		.d_t.catalog_item_desc div img {
			width: 100%;
			height: auto;
		}

		.catalog_item, .catalog_item_img {
			position: relative;
		}
		.catalog_item_title {
			position: absolute;
			top: 70px;
			z-index: 40;
			left: 0;
			right: 0;
		}
		.catalog_item_desc p {
			min-height: 110px;
		}
		.catalog_item_title h2 {
			color: #fff;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.3);
		}
		.catalog_item_img:after {
			content: "";
			width: 100%;
			height: 20%;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-image: url(../img/sharp_lines.png);
		}

		.catalog_item, .catalog_stuff_box .row, .catalog_stuff_box .row [class*="col-"] {
			height: auto;
		}

		.side_list li a {
			font-size: 13px;
		}

		.top_slider_content_box {
			width: 31.3%;
			margin: 0 1%;
		}

		.top_slider_content_box_green .top_slider_img {
			background-color: #8db501;
		}
		.top_slider_img {
			padding-bottom: 60px;
			background-color: #30699b;
		}

		.sale_item {
			padding: 10px;
		}
		.top_slider_text {
			font-size: 14px;
		}

		.cart {
			padding-left: 20px;
		}

		.contacts_block {
			padding-right: 0;
		}

		.contacts_block form {
			padding-right: 0;
		}

		.invert2_price {
			padding-left: 20px;
		}

		.count-input input {
			margin: 0 10px;
		}

		.left_side {
			width: 230px;
		}

		.right_side.col-sm-push-2 {
			left: 230px;
		}

		.right_side {
			width: 790px;
		}

		.header_logo img{
		}

		.header_tel span {
			font-size: 16px;
			padding-left: 3px;
		}

		.callback_btn a:before {
			left: 15px;
		}

		.header_head .d_t .d_t_r .d_t_c:first-child {
			display: none;
		}

		.callback_btn a {
			padding: 15px 5px 15px 55px;
			width: 100%;
		}

		.footer_double_list {
			margin-right: 20px;
			width: 40%;
		}

		.side_add_link a {
			font-size: 15px;
		}

		.ner_light {
			font-size: 13px;
		}

		.phone_city_item .city_num {
			font-size: 13px;
		}

		.contact_info {
			min-width: 70px;
		}

		.work_time {
			min-width: 80px;
		}

		.phone_tarif {
			font-size: 10px;
			padding-left: 10px;
		}

		.header_tel {
			min-width: 130px;
			padding-left: 10px;
		}

		.header_tel_phone {
			padding-left: 3px;
		}

		.header_logo {
			margin-left: -32px;
			position: relative;
			left: 19px;
		}

		.diller {
			margin-right: -25px;
		}

		.h_socials {
			left: 135px;
		}
		.sale_stuff_box.catalog_stuff_box>.row>.col-sm-6{
			width: 49.9%;
		}

		.phone_city_item:last-child {
			padding-right: 0;
		}

		.main_footer_content ul li a, .news_list_img {
			display: block;
			float: left;
			width: 70%;
			vertical-align: middle;
		}

		.news_list_img {
			width: 10%;
		}

		.main_footer_content ul li {
			padding: 18px 0;
		}

		.modal-dialog {
			top: 35%;
		}

		.main_footer_content ul li:last-child a, .main_footer_content ul li:last-child {
			padding-bottom: 20px;
		}

		.main_footer_content ul li a {
			font-size: 12px;
		}

		.news_list_img {
			padding-right: 10px;
		}

		.left_side.hidden-lg.pd {
			display: none;
		}

		.top_slider_content {
			padding: 0 10px;
		}

		.phone_city_item {
			padding: 0 18px;
		}

		.container {
			width: 100%;
		}

		.sale_item {
			margin-bottom: 20px;
			height: 324px;
		}

		.main_footer_part {
			max-height: 233px;
		}

		.sale_stuff_box .row {
			display: block;
		}

		.header_head .d_t_c {
			width: 1%;
			padding: 0 10px;
		}
		/*		start old*/
		.left_side.hidden-lg.pd {
			display: none;
		}

		.add_to_cart a {
			height: auto;
			padding: 5px;
		}

		.banner_text h3 {
			font-size: 16px;
		}

		.filter_btn a:after, #heading3 h4 a:after, #heading2 h4 a:after {
			display: none;
		}

		.banner_text h2 {
			font-size: 28px;
		}
		.phone_tarif {
			font-size: 8px;
			padding-left: 25px;
			white-space: nowrap;
		}
		.phone_city_item {
			padding: 0 8px;
		}

		.main_footer_part .right_side.main_footer_content .col-sm-6 {
			width: 50%;
		}

		.main_footer_content ul li {
			padding: 0;
		}

		.header_head .d_t_c {
			padding: 0 8px;
		}

		.header_tel span {
			font-size: 13px;
		}

		.callback_btn a {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.callback_btn a, .diller a {
			white-space: nowrap;
		}

		.contact_info_item, .work_time span {
			white-space: nowrap;
		}
		.d_t.catalog_item_desc div img {
			width: 100%;
			height: auto;
		}

		.catalog_item, .catalog_item_img {
			position: relative;
		}
		.catalog_item_title {
			position: absolute;
			top: 70px;
			z-index: 40;
			left: 0;
			right: 0;
		}
		.catalog_item_desc p {
			min-height: 110px;
		}
		.catalog_item_title h2 {
			color: #fff;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.3);
		}
		.catalog_item_img:after {
			content: "";
			width: 100%;
			height: 20%;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-image: url(../img/sharp_lines.png);
		}

		.catalog_item, .catalog_stuff_box .row, .catalog_stuff_box .row [class*="col-"] {
			height: auto;
		}

		.side_list li a {
			font-size: 13px;
		}

		.top_slider_content_box {
			width: 31.3%;
			margin: 0 1%;
		}

		.top_slider_content_box_green .top_slider_img {
			background-color: #8db501;
		}
		.top_slider_img {
			padding-bottom: 60px;
			background-color: #30699b;
		}

		.sale_item {
			padding: 10px;
		}
		.top_slider_text {
			font-size: 14px;
		}

		.header_logo {
			        margin-left: -75px;
    position: relative;
    left: 60px;
		}
		
		.header_head .d_t_c {
    width: 1%;
    padding: 0 10px;
}
		.header_head .d_t_r .d_t_c:first-child {
    display: none;
}
		.header_tel {
			min-width: inherit;
			width: auto;
    padding-left: 50px;
}
		.header_tel_phone {
    padding-left: 3px;
}
		.phone_tarif {
    font-size: 10px;
    padding-left: 10px;
}
		.callback_btn a {
    padding: 15px 5px 15px 55px;
    width: 100%;
}
		.callback_btn a:before {
    left: 15px;
}
		.contact_info {
			width: 90px;
}
		.work_time {
			width: 90px;
}
		.header_head {
			overflow: hidden
		}
		
		.header_head .d_t{
			margin-right: -20px;
		}
		.diller {
    margin-right: -25px;
}
}

@media screen and (max-width: 800px) and (min-width: 769px)	and (orientation: landscape)  {
	.main_footer_part {
		max-height: 345px;
	}

	.news_list_img {
		margin-right: 30px;
		margin-top: 10px;
	}

	.main_footer_content ul li a {
		font-size: 11px;
	}
}

@media screen and (max-width: 767px) {

	.docs_category {
		margin-top: auto;
	}

	.catalog_item_img {
		height: 168px;
	}

	.catalog_stuff_box .row [class*="col-"] {
		height: auto;
	}
	#collapse3 {
		position: absolute;
		margin-top: 0px;
	}
	.video_slider_img img {
		width: 100%;
	}

	.video_slider_box {
		height: 242px;
	}

	.main_footer_part>.container>.row>.right_side {
		padding-left: 15px!important;
		padding-right: 15px!important;
		margin: auto;
	}

	.main_footer_part .right_side, .main_footer_part .left_side {
		width: 100%;
	}

	.main_footer_part {
		max-height: inherit;
	}

	.navbar-nav>li {
		display: block;
		text-align: left;
	}

	.navbar-nav {
		position: relative;
	}

	.close_btn {
		background-color: transparent!important;
		border: 0!important;
		position: absolute!important;
		right: 0px;
		margin-top: 0!important;
		padding: 0!important;
		top: 0px;
		z-index: 3;
	}

	.close_btn button {
		background-color: transparent;
		border: 0;
	}

	.navbar-default .navbar-nav>li>a {
		color: #000;
	}

	.phone_city_item {
		width: 50%;
		float: left;
		display: block;
		text-align: left;
		border: 0;
	}

	.work_time {
		text-align: center;
		margin-top: 10px;
		margin-bottom: -10px;
	}

	.diller a {
		height: 50px;
		width: 50px;
		padding: 12px 0;
		font-size: 0;
	}

	.d_t {
		width: 100%;
	}

	.navbar-toggle {
		float: none!important;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #004480;
	}

	.offcanvas-toggle .icon-bar {
		background-color: #fff;
		margin: auto;
	}

	.header_logo img {
		width: 60%;
	}

	.d_t_c.lg_d_n {
		text-align: right;
	}

	.navigation {
		height: 0;
	}

	.cart {
		padding-left: 20px;
		margin-top: 0px;
	}

	.sale_stuff_box [class*="col-"] {
		float: left;
		display: block;
	}

	.catalog_item {
		margin-top: 10px;
	}

	.main_footer_content ul {
		padding: 0;
	}

	.main_footer_content h4 {
		margin: 10px 0 0;
	}

	.main_footer_part .col-sm-6:last-child {
		margin-top: 10px;
	}

	.footer_list>.footer_double_list {
		margin-top: 0;
		display: inline-block;
		float: left;
		position: relative;
		top: -10px;
	}

	.exis_state {
	}

	.socials {
		display: none;
	}

	a.t_d_u {
		text-decoration: underline!important;
	}

	.flipkart-navbar-button {
		font-size: 0;
	}

	.flipkart-navbar-button i {
		margin: auto;
	}


	.sale_stuff_box .row {
		margin-top: 0;
	}
	.cart .d_t_c {
		display: inline-block;
	}

	.left_side {
		margin-top: 0;
		width: 50%;
	}

	.bor_r {
		border: 0;
	}

	.docs_block .dropdown, .docs_block .sale_item {
		margin-bottom: 20px;
	}

	.inver_title .dropdown {
		display: none;
	}

	.invert2_price, .invert2_block {
		padding: 0 15px;
	}

	.count-input {
		margin: 10px auto
	}

	.inv2_more {
		margin-bottom: 20px;
	}

	.tovar_block .count-input {
		margin: 10px 0;
	}

	.top_slider_content {
		padding: 0;
	}

	.tovar_slider .slick-prev {
		left: 0;
	}

	.tovar_slider .slick-next {
		right: 0;
	}

	.tovar_panel .dropdown {
		margin-bottom: 20px;
	}

	.tovar_panel .dropdown-menu {
		right: 0;
	}

	.filter_btn a {
		text-align: center;
	}

	.filter_btn a:after {
		background-image: url(../img/settings.png);
		width: 22px;
		height: 18px;
		-webkit-background-size: cover;
		background-size: cover;
		margin-left: 60px;
		right: 0;
		left: 0;
		top: -1px;
	}

	#heading3 h4 a, #heading2 h4 a{
		position: relative;
		text-align: center;
	}

	#heading3 h4 a:after, #heading2 h4 a:after {
		content: "";
		position: absolute;
		background-image: url(../img/detail.png);
		width: 20px;
		height: 20px;
		margin-left: 10px;
		right: 0;
		left: 0;
		top: -2px;
	}

	.stuff_descr p {
		text-align: justify;
	}

	.top_slider_text {
		width: 99.4%;
		padding: 25px 65px;
	}

	.top_slider {
		margin-top: 0px;
		padding-bottom: 40px;
	}

	.art_title {
		padding: 0;
	}

	.addtional_block_img {
		padding: 0 20px;
	}

	.top_slider .slick-prev, .top_slider .slick-next {
		display: none!important;
	}

	.top_slider .slick-next {
		right: 0;
	}

	.sale_item {
		margin-top: 14px;
	}

	.addtional_block_img {
		background-position: center;
	}

	.offcanvas-toggle.is-open .icon-bar {
		-webkit-transform: none!important;
		transform: none!important;
		opacity: 1!important;
	}

	.invert2_price {
		margin-top: 20px;
	}

	.phone_city_item:nth-child(2n+2) {
		border-left: 1px solid #eeeff0;
		padding-left: 20px;
	}

	.top_slider {
		padding: 0;
	}


	.add_to_cart {
		text-align: center;
	}

	.add_to_cart a {
		width: auto;
		padding: 7px 20px;
		margin: auto;
	}

	.phone_city_item:first-child {
		padding-left: 23px;
	}

	.header_logo img {
		margin-left: -40px;
	}

	.kab {
		margin-right: -50px;
	}

	.panel-group {
		margin-top: 20px;
	}

	.tovar_panel {
		border-top: 1px solid #cdcdcd;
		padding-top: 20px!important;
	}

	.video_tovar {
		height: auto;
	}

	.invert2_block_item {
		float: left;
		margin: 0 5px;
		width: 48%;
		margin-bottom: 10px;
	}

	.news_paginator  {
		clear: both;
	}

	.modal-dialog {
		margin: auto;
	}

	.modal-footer {
		display: block;
	}

	#myModal2 .modal-footer .btn{
		background-color: transparent;
		border: 0;
	}

	.main_footer_content .row .col-sm-6:first-child {
		border: 0;
	}

	.main_footer_content .row .col-sm-6:last-child {
		border-left: 0;
		border-top: 1px solid #00386a;
	}

	.top_slider_content_box {
		width: auto;
		display: block;
		margin: 0 50px 20px;
		float: none;
	}

	.top_slider_img {
		padding-bottom: 0;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		color: #000;
		opacity: 1;
	}

	.all_inst {
		padding: 0 15px;
	}

	.navbar-default .navbar-nav>li>a:hover {
		color: #000;
	}

	.cart_img img {
		width: 25%;
		margin: auto;
		margin-bottom: 20px;
	}

	.invert2_price .no_state {
		height: 121px;
		padding-top: 0;
	}

	.callback_diller {
		margin-left: -10px;
	}


	.flipkart-navbar-search {
		width: 60%;
	}

	.cart {
		width: 40%;
	}

	.slick-slide img {
		width: 100%;
	}
}

@media screen and (min-width: 550px) and (max-width: 640px) {
	.adding_tovar .add_to_cart a {
		width: 70%;
	}
}

@media screen and (max-width: 480px) {

	.footer_list>.footer_double_list {
		display: table-cell;
		float: none;
	}
	
	.top_slider_text {
		padding: 5px;
	}

	.invert2_price .no_state {
		padding: 0;
	}
	.red.lg_t {
		font-size: 17px;
	}
	.cart {
		padding-left: 0;
		margin-top: 15px;
	}
	.cart_pr {
		padding-top: 15px;
		font-size: 16px;
	}

	.header_head .d_t_c {
		padding: 0  6px;
	}

	.call_now {
		padding-left: 10px!important;
	}

	.invert2_block_item .exis_state {
		margin-top: 4px;
	}

	.catalog_item {
		margin-top: 20px;
		height: auto;
	}

	.modal-dialog ul {
		padding-left: 40px!important;
	}

	.invert2_block_item {
		width: 100%;
	}

	.left_side.col-xs-12{
		padding: 0;
	}

	.kab {
		margin: auto;
	}

	.header_logo img {
		margin-left: 0;
	}

	.phone_city_item:first-child {
		padding-left: 0;
	}

	.catalog_title h3 {
		text-align: center;
	}

	.header_logo img {
		width: 100%;
	}

	.phone_city_item {
		padding: 0;
	}

	.right_side {
		padding: 0;
	}

	.addtional_block_img, .site_nav, .catalog_title, .stuff_descr, .new_block, .contacts_block, .docs_block, .news_block, .tovar_block, .tovar_slider, .mg_tp, .tovar_panel {
		padding: 0 15px;
	}

	.main_footer_content ul li a {
		display: table-cell;
	}

	.main_upper_part .right_side, #question form {
		padding: 0 15px;
	}

	.left_side.col-xs-12 {
		width: 100%!important;
		margin-left: 0;
	}

	.d_t.catalog_item_desc div{
		display: block;
		text-align: center;
	}

	.news_list_img {
		padding-right: 10px;
		display: table-cell
	}

	.contacts_block form{
		text-align: center;
	}

	.col-xs-6 {
		width: 100%;
	}

	.new_block_img {
		margin-bottom: 20px;
	}

	.play_btn {
		width: 35px;
		height: 35px;
	}

	.video_title {
		font-size: 14px;
	}

	#gallery {
		margin-bottom: 20px;
	}

	#largeImage {
		width: 70%;
	}

	#gallery {
		padding-top: 0;
	}

	#thumbs img {
		opacity: .6;
	}

	.exis_state, .tovar_block .count-input {
		float: left;
	}

	.tovar_slider .top_slider_content {
		margin-left: -40px;
		padding: 0 20px;
	}

	.tovar_block .exis_state {
		margin: 10px 20px;
	}

	.col-sm-7.col-xs-12 .exis_state{
		margin: auto;
		float: none;
		display: inline-block;
	}

	.col-sm-7.col-xs-12 {
		text-align: center;
	}

	.tovar_block .add_to_cart {
		display: inline-block;
		margin: 0 4px;
	}

	.col-sm-7.col-xs-12 .exis_state .add_to_cart{
		margin: 10px 0;
	}

	.tovar_block .add_to_cart a, .col-sm-7.col-xs-12 .exis_state a {
		width: 100%;
	}

	.filter_btn a:after {
		margin-left: 80px;
	}


	#heading3 h4 a:after {
		margin-left: 40px;
	}

	.top_slider_text {
		/*        width: 99%;*/
	}

	.top_slider .slick-slide img {
		width: 100%;
	}

	.slick-dots {
		left: 0;
	}

	.slick-dots li {
		width: 17%;
		margin-top: 10px;
	}

	.diller a {
		padding-top: 13px;
	}

	.top_slider_content_box {
		width: 100%;
		margin: auto;
		margin-bottom: 20px;
		padding: 0;
	}

	.site_nav_divider {
		padding: 0 10px;
	}

	.pd {
		padding: 0 15px!important;
	}

	.t_404 {
		padding: 0 20px;
	}

	.t_sub_404 h2 {
		font-size: 18px;
	}

	.modal-dialog {
		top: 0;
		width: auto;
		padding: 20px;
	}

	.modal-content .d_t_c {
		display: block;
	}

	.col-sm-5.col-xs-12 .exis_state{
		margin: 8px;
	}

	#myModal2 .modal-dialog, #myModal4 .modal-dialog {
		width: auto;
	}
	
	.modal-footer {
		top: 20px;
		right: 20px;
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		font-size: 14px;
	}

	.table>tbody>tr>td span {
		display: block;
	}

	.cart_circle {
		width: 34px;
		height: 34px;
		margin-left: 5px;
		padding-top: 7px;
	}

	.cart, .flipkart-navbar-search {
		width: 100%;
		margin-bottom: 5px;
	}

	.cart .d_t_r {
		white-space: nowrap;
	}
}

@media screen and (max-width: 360px) {
	.phone_city_item .city_num {
		font-size: 13px;
	}

	.adf {
		position: relative;
	}

	.stuff_cont, .stuff_price {
		font-size: 12px;
	}

	.adf:after {
		content: '';
		position: absolute;
		clear: both;
		display: block;
	}

	.cart {
		margin-top: 5px;
	}

	.cart_table .count-input, .price_t {
		float: none;
		text-align: center;
		padding: inherit;
	}

	#heading3 h4 a:after {
		margin-left: 20px;
	}

	.filter_btn a:after {
		margin-left: 50px;
	}

	.tovar_block .add_to_cart, .tovar_block>.add_to_cart, .col-sm-7.col-xs-12 .exis_state {
		width: 47%;
	}
	
	.add_to_cart.in_one_cl {
		width: 100%;
	}

	.tovar_block .add_to_cart a, .col-sm-7.col-xs-12 .exis_state a {
		font-size: 10px;
		height: auto;
	}
	
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		font-size: 12px;
	}
	
	.invert2_price p {
		text-align: right;
	}
}