@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* font-family: "NerisThin"; */
@font-face {
	font-family: "NerisThin";
	src: url("../fonts/NerisThin/NerisThin.eot");
	src: url("../fonts/NerisThin/NerisThin.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisThin/NerisThin.woff") format("woff"),
		url("../fonts/NerisThin/NerisThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisLight"; */
@font-face {
	font-family: "NerisLight";
	src: url("../fonts/NerisLight/NerisLight.eot");
	src: url("../fonts/NerisLight/NerisLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisLight/NerisLight.woff") format("woff"),
		url("../fonts/NerisLight/NerisLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisSemiBold"; */
@font-face {
	font-family: "NerisSemiBold";
	src: url("../fonts/NerisSemiBold/NerisSemiBold.eot");
	src: url("../fonts/NerisSemiBold/NerisSemiBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisSemiBold/NerisSemiBold.woff") format("woff"),
		url("../fonts/NerisSemiBold/NerisSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisBoldItalic"; */
@font-face {
	font-family: "NerisBoldItalic";
	src: url("../fonts/NerisBoldItalic/NerisBoldItalic.eot");
	src: url("../fonts/NerisBoldItalic/NerisBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisBoldItalic/NerisBoldItalic.woff") format("woff"),
		url("../fonts/NerisBoldItalic/NerisBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisLightItalic"; */
@font-face {
	font-family: "NerisLightItalic";
	src: url("../fonts/NerisLightItalic/NerisLightItalic.eot");
	src: url("../fonts/NerisLightItalic/NerisLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisLightItalic/NerisLightItalic.woff") format("woff"),
		url("../fonts/NerisLightItalic/NerisLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisThinItalic"; */
@font-face {
	font-family: "NerisThinItalic";
	src: url("../fonts/NerisThinItalic/NerisThinItalic.eot");
	src: url("../fonts/NerisThinItalic/NerisThinItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisThinItalic/NerisThinItalic.woff") format("woff"),
		url("../fonts/NerisThinItalic/NerisThinItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NerisSemiBoldItalic"; */
@font-face {
	font-family: "NerisSemiBoldItalic";
	src: url("../fonts/NerisSemiBoldItalic/NerisSemiBoldItalic.eot");
	src: url("../fonts/NerisSemiBoldItalic/NerisSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/NerisSemiBoldItalic/NerisSemiBoldItalic.woff") format("woff"),
		url("../fonts/NerisSemiBoldItalic/NerisSemiBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


* {
	font-family: 'PT Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

.ner_thin {
	font-family: NerisThin;
}

.ner_light {
	font-weight: normal;
	font-family: NerisLight;
}

.ner_semibold {
	font-family: NerisSemiBold;
}

.header_head {
	background-color: #f2f6f9;
	padding: 20px 0;
}

.header_head .d_t_c{
	padding: 0 15px;
}

.header_head .d_t .d_t_r .d_t_c:first-child {
	padding: 0;
}

.header_logo {
	margin-left: -12px;
}

.num_c {
	color: #555555;
}

.d_t {
	display: table;
}

.d_t_r {
	display: table-row;
}

.d_t_c {
	display: table-cell;
	vertical-align: middle;
}

.header_tel_phone {
	color: #808080;
	font-size: 16px;
}

.header_tel span {
	font-size: 24px;
	color: #211312;
}

.phone_tarif {
	font-size: 12px;
	color: #666666;
	padding-left: 35px;
}

.callback_btn a {
	display: inline-block;
	background-color: #004684;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	padding: 15px 25px 15px 75px;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow: 1px 1px 1px 0px #013d71;
	position: relative;
	transition: all .1s linear;
}

.callback_btn a:before {
	content: "";
	background-image: url(../img/callback.png);
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	left: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.callback_btn a:active {
	box-shadow: 1px 1px 0px 0px #013d71;
}

.callback_btn a:hover {
	box-shadow: none;
	box-shadow: 0px 0px 0px 0px #013d71;
}

.contact_info_item {
	margin: 3px 0;
	color: #a6a6a6;
	font-size: 13px;
}

.contact_info a {
	color: #004080;
}

.contact_info_item i {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 1px;
}

.contact_info_item i.fa-envelope {
	font-size: 17px;
}

.work_time span {
	font-size: 13px;
	display: block;
	line-height: 1;
}

.work_time span:first-child {
	color: #a6a6a6;
}

.pdtp {
	padding-top: 120px;
}

#collapseOne {
	position: absolute;
	margin-top: 20px;
}

.diller a{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, rgba(255, 255, 255, 1.05) 0%, rgba(0, 0, 0, 0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 16px 26px;
	display: inline-block;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
	transition: all .3s linear;
}

.diller a:hover {
	box-shadow: inset 0px 0px 10px -5px #000;
}

.diller img {
	margin-right: 10px;
}

.contact_phone_n {
	padding: 10px 0;
	position: relative;
	background-color: #fbfcfd;
}

.h_socials, .h_enter {
	text-align: center;
	position: absolute;
	width: 200px;
	-webkit-background-size: cover;
	background-size: cover;
	top: -33px;
	height: 24px;
	left: 310px;
	background-position: center;
	background-image: url(../img/h_bg.png);
}

.h_socials {
	background-image: url(../img/h_bg2.png);
	width: 150px;
}

.h_socials a {
	display: inline-block;
	padding: 3px 3px 0;
}

.h_socials a:hover {
	opacity: .8;
}

.h_enter {
	left: auto;
	right: 285px;
}

.h_enter i {
	font-size: 13px;color: #a6a6a6;
	padding-left: 5px;
	margin-right: -5px;
}

.h_enter a {
	font-size: 13px;
	color: #004684;
	text-decoration: underline;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}

.h_enter a:hover {
	color: #000;
}

.h_enter a.enter:after {
	content: "";
	background-color: #cacaca;
	width: 1px;
	height: 10px;
	position: absolute;
	right: 0px;
	top: 5px;
}

.t_d_n {
	text-decoration: none!important;
}

.phone_city_item {
	display: inline-block;
	padding: 0px 23px;
	border-right: 1px solid #eeeff0;
}

.phone_city_item:first-child {
	padding-left: 0;
}

.phone_city_item:last-child {
	border: 0;
}

.phone_city_item span{
	display: block;
}

.phone_city_item .city_num{
	font-size: 16px;
	color: #808080;
}

.phone_city_item .city {
	font-size: 12px;
	color: #aaaaaa;
	padding-left: 10px;
}

.navigation {
	background-color: #004887;
}

.navbar-default {
	background-color: transparent;
	border: 0;
	margin: auto;
}

.navbar-nav {
	float: none;
	text-align: center;
}

.navbar-nav>li {
	float: none;
	margin: 15px 0;
	display: inline-block;
}

.navbar-nav>li:last-child>a {
	border: 0;
}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	border-right: 1px solid #fff;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	font-family: NerisLight;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	text-decoration: underline;
}

.main_upper_part {
	background-color: #f2f6f9;
	padding: 30px 0;
}

.panel-default>div.red_btn {
	background-color: #ee3423;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url(../img/sharp_lines.png);
}

.lg_d_n {
	display: none;
}

.red_btn a {
	display: block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.panel-group .panel {
	position: relative;
}

.panel-collapse {
	left: 0;
	right: 0;
	z-index: 3;
}

.top_slider {
	margin-bottom: 0!important;
	margin-top: 30px;
}

.top_slider_img {
	position: relative;
}

.slick-dots {
	margin-left: -15px;
}

.top_slider_content {
	padding: 0 20px;
	text-align: center;
}

.top_slider_text {
	padding: 10px;
	color: #555555;
	font-size: 15px;
	font-family: NerisLightItalic;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	margin: 1px;
}

.top_slider_content_box {
	position: relative;
	float: left;
	margin: 0 5px;
}

.left_side{
	width: 19.5%;
}

.panel>div {
	box-shadow: 0 0 30px -10px #000;
}

.right_side{
	width: 80.5%;
}

.right_side.col-sm-push-2 {
	left: 19.5%;
}

.left_side.col-sm-pull-10 {
	right: 80.5%;
}

.panel-heading {
	padding: 13px 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	padding: 0;
}

.side_list {
	padding-left: 0;
	list-style-type: none;
	margin: auto;
}

.side_list li{
	background-color: #fff;
	position: relative;
	border-bottom: 1px solid #e2e2e3;
}

.side_list li:after {
	content: "";
	background-image: url(../img/arrow.png);
	width: 5px;
	height: 14px;
	display: block;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.side_list li a {
	display: block;
	width: 100%;
	padding: 10px 13px;
	color: #555555;
	font-size: 14px;
}

.side_list li a:hover {
	background-color: #f9fbfc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	opacity: .7;
	background-color: transparent;
	color: #fff;
}

.flipkart-navbar-input {
	padding: 11px 16px;
	border-radius: 2px 0 0 2px;
	border: 0 none;
	outline: 1px solid #e2e2e3;
	outline-offset: -1px;
	font-size: 15px;
}

.flipkart-navbar-button {
	background-color: #004481;
	border: 0;
	border-radius: 0 2px 2px 0;
	color: #fff;
	padding: 10px 0;
	height: 43px;
	cursor: pointer;
	font-size: 14px;
}

.flipkart-navbar-button:hover {
	background-color: #00386a;
}

.flipkart-navbar-button i {
	margin-right: 10px;
	position: relative;
	top: 1px;
}

.cart {
	padding-left: 40px;
}

.cart-button {
	background-color: #2469d9;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
	padding: 10px 0;
	text-align: center;
	height: 41px;
	border-radius: 2px;
	font-weight: 500;
	width: 120px;
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	color: inherit;
	border: none;
	outline: none;
}

.cart-button:hover{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.cart-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

.item-number {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .1);
	height: 20px;
	padding: 3px 6px;
	font-weight: 500;
	display: inline-block;
	color: #fff;
	line-height: 12px;
	margin-left: 10px;
}

.upper-links {
	display: inline-block;
	padding: 0 11px;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	color: inherit;
	border: none;
	outline: none;
	font-size: 12px;
}

.cart_circle {
	color: #004888;
	background-color: #fff;
	width: 44px;
	height: 44px;
	display: inline-block;
	padding-top: 12px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 30px -10px #000;
}

.main_mid_p>.container {
	padding-right: 0;
}

.banner {
	position: relative;
}

.banner_text {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
}

.banner_text h3 {
	font-size: 18px;
}

.banner_text h2 {
	font-size: 32px;
}

.banner_text h3, .banner_text h2 {
	color: #fff;
	margin: auto;
	text-align: center;
} 

.side_add_block {
	margin-top: 30px;
	margin-bottom: 30px;
}

#accordion3 {
	display: none;
}

.side_add_link a {
	padding: 11px 0;
	display: inline-block;
	background-color: #ee3423;
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url(../img/sharp_lines.png);
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	border-radius: 3px;
	text-align: center;
}

.side_add_empty {
	background-color: #fff;
	width: 100%;
	height: 135px;
}

.side_add_block {
	box-shadow: 0 0 25px -10px #000;
	border-radius: 2px;
	overflow: hidden;
}

.stuff_list {
	padding-left: 5px;
	white-space: nowrap;
	color: #808080;
}

.stuff_count {
	color: #211312;
}

.stuff_price_current {
	color: #e52231;
	font-weight: 700;
}

.addtional_block_img {
	position: relative;
	background-image: url(../img/hd_sh.png);
	min-height: 130px;
	-webkit-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	text-align: center;
}

.addtional_block_img p {
	color: #fff;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}

.art_title {
	background-image: url(../img/dot.png);
	background-repeat: repeat-x;
	background-position: center;
	padding: 0 20%;
	margin: 20px 0;
}

.lucky_b {
	opacity: 1!important;
}

.art_title h3 {
	margin: auto;
	font-size: 22px;
	color: #004080;
	padding: 0 20px;
	background-color: #fff;
	display: inline-block;
}

.stuff_descr p{
	text-align: justify;
	color: #555555;
	font-size: 14px;
	font-family: NerisLight;
	margin-bottom: 15px;
}

.sale_stuff_box .row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 25px;
	width: 100%;
}

.sale_stuff_box [class*="col-"] {
	vertical-align: top;
}

.sale_item {
	margin-bottom: 20px;
	padding: 10px 20px;
	position: relative;
	border: 1px solid #e2e2e3;
}

.sale_item_img {
	padding: 30px 0;
}

.sale_stuff_name_link a{
	font-size: 14px;
	color: #004080;
	text-decoration: underline;
	line-height: 1.1;
}

.sale_item_img img {
	margin: auto;
}

.sale_stuff_d_info {
	margin-top: 5px;
	font-size: 12px;
	color: #666666;
}

.sale_item hr {
	margin: 10px 0;
}

.sale_stuff_price {
	color: #808080;
	font-size: 13px;
}

.sale_stuff_price span {
	color: #e52231;
	font-size: 14px;
	font-weight: 700;
}

.add_to_cart {
	margin-top: 10px;
}

.add_to_cart a {
	display: inline-block;
	background-color: #94c201;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	width: 100%;
	height: 36px;
	vertical-align: middle;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow: 1px 1px 1px 0px #709401;
	text-align: center;
	padding-top: 7px;
	position: relative;
	transition: all .1s linear;
}

.add_to_cart a:hover {
	box-shadow: 0px 0px 0px 0px #709401;
}

.new_stuff {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
}

.new_stuff span {
	display: inline-block;
	width: 33px;
	height: 33px;
	position: relative;
	z-index: 3;
	text-transform: uppercase;
	font-family: NerisSemiBold;
	color: #fff;
	padding-top: 5px;
}

.new_stuff:after {
	content: "";
	left: -10px;
	top: -10px;
	right: -10px;
	bottom: -10px;
	display: block;
	background-color: #ee3423;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 25px -10px #000;
}

#headingOne {
	margin-bottom: -20px;
}

.bottom_additional_block {
	margin: 25px 0;
}

.video_slider_box {
	height: 197px;
	overflow: hidden;
}

.video_slider_img img{
	height: 100%;
	width: auto;
}

.main_footer_part {
	max-height: 235px;
	overflow: hidden;
	margin-top: 0px;
}

.main_footer_part>.container>.row>[class*="col-"] {
	padding: 0;
}

.main_footer_part .left_side{
	width: 20.9%;
}

.main_footer_part .right_side{
	width: 79.1%;
	background-color: #004684;
}

.video_slider_title h2{
	background-color: #ee3423;
	font-size: 16px;color: #fff;
	text-align: center;
	padding: 13px 0;
	margin: auto;
	border-radius: 3px 0px 0 0
}

.video_slider .slick-prev, .video_slider .slick-next {
	background-image: url(../img/video_arrow.png);
	height: 28;
}

.video_slider .slick-prev {
	left: 10px;
}

.video_slider .slick-next {
	right: 10px;
}

.video_slider_img {
	position: relative;
}

.play_btn {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	margin: auto;

}

.main_footer_content {
	padding: 0px 5px!important;
}

.main_footer_content .row {
	padding: 0 15px!important;
}

.main_footer_content .row .col-sm-6 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.main_footer_content .row .col-sm-6:first-child {
	border-right: 1px solid #00386a;
}

.main_footer_content .row .col-sm-6:last-child {
	border-left: 1px solid #1a5991;
}

.main_footer_content h4 {
	color: #fff;
	margin: auto;
	text-transform: uppercase;
}

.main_footer_content ul {
	list-style-type: none;
	padding: 10px;
	margin: auto;
}

.main_footer_content ul li:last-child a, 
.main_footer_content ul li:last-child {
	padding-bottom: 0;
	border: 0;
}

.main_footer_content ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding: 22px 0;
}

.main_footer_content ul li a{
	display: inline-block;
	text-decoration: underline;
	color: #fff;
}

.main_footer_content ul li a:hover {
	text-decoration: none;
}

.news_list_img {
	display: inline-block;
	margin: -10px 15px 0 10px;
	width: 32px;
	height: 20px;
	/* overflow: hidden; */
	border-radius: 50%;
	vertical-align: middle;
}

footer {
	background-color: #111923;
	padding: 20px 0;
}

footer .d_t_c {
	vertical-align: top;
	width: 1%;
}

.footer_list h4 {
	color: #fff;
	font-size: 16px;
	margin: auto;
}

.footer_list hr {
	margin: 15px 0;
	max-width: 50px;
	border-color: #cacaca;
}

.footer_list ul {
	padding-left: 10px;
	list-style-type: none;
}

.footer_list ul li {
	margin: 10px 0;
}

.footer_list ul li a {
	color: #cacaca;
	text-decoration: underline;
	font-size: 14px;
}

.footer_list ul li a:hover {
	text-decoration: none;
}

.footer_list ul li span a {
	color: #fff;
}

.socials {
	margin-top: 5px;
}

.socials a:hover {
	opacity: .8;
}

.footer_double_list {
	float: left;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: -10px;
}

.footer_list ul li span {
	display: block;
	color: #cacaca;
	font-size: 13px;
}


/*catalog page*/

.filter_btn {
	text-align: left;
	text-transform: uppercase;
}

.filter_btn a {
	position: relative;
}

.filter_btn a:after {
	content: "";
	width: 23px;
	height: 9px;
	display: block;
	position: absolute;
	right: 0;
	top: 5px;
	background-image: url(../img/white_ar.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.site_nav {
	margin: 20px 0;
	color: #c2c2c2;
	font-family: NerisLight;
}

.site_nav a {
	text-decoration: underline;
}

.site_nav a, .site_nav span {
	color: #c2c2c2;
}

.site_nav_divider {
	padding: 0 20px;
}

.catalog_title h3{
	color: #004080;
	font-family: NerisLight;
	font-size: 22px;
	margin-bottom: 20px;

}

.catalog_item {
	overflow: hidden;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #4c7da9;
}

.catalog_item .d_t {
	height: 170px;
	overflow: hidden;
}

.catalog_item_title h2 {
	font-family: NerisLight;
	background-color: #ccd2d8;
	margin: auto;
	text-align: center;
	font-size: 23px;
	color: #004080;
	padding: 10px 0;
}

.catalog_btn {
	text-align: center;
	margin: 10px 0;
}

.catalog_btn a {
	display: inline-block;
	background-color: #ee3423;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	padding: 10px 55px 10px 55px;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}

.catalog_item_desc p {
	padding: 5px;
	font-family: NerisLightItalic;
}

.catalog_item_img img {
	height: 100%;
}

.catalog_item_img {
	height: 169px;
	display: block;
	overflow: hidden;
}

.catalog_stuff_box .row {
	height: 215px;
}

.catalog_stuff_box .row [class*="col-"] {
	height: 100%;
}



/*contacts page */

.red {
	color:#e52231;
}

p.contact_p {
	margin-bottom: 30px;
}

p.contact_p a {
	text-decoration: underline;
}

.form-control {
	border-radius: 0px;
}

.d_t_c.ner_light {
	vertical-align: top;
}

.contacts_block {
	margin: 30px 0;
	padding-right: 50px;
}

.contacts_block form {
	padding-right: 50px;
}

.contacts_block p {
	color: #555;
	font-family: NerisLight;
}

.contacts_block h4 {
	font-size: 16px;
	color: #004684;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.contact_work_time {
	margin-bottom: 30px;
}

.contact_work_time div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

form {
	margin-top: 30px;
}

.form-group {
	margin-bottom: 20px;
}

textarea.form-control {
	resize: none;
	height: 110px;
}

button[type="submit"] {
	display: inline-block;
	background-color: #ee3423;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	padding: 10px 75px 10px 75px;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}

.contact_map img, .contact_new_vid img {
	width: 100%;
}

.contact_new_vid {
	margin-top: 30px;
	position: relative;
}

.video_title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	background-color: rgba(48, 105, 155, 0.8);
}



/*docs page*/

.dropdown .dropdown-toggle{
	width: 100%;
	border-radius: 3px;
	text-align: left;
}

.docs_block .dropdown-menu {
	right: 0;
}

.dropdown .dropdown-toggle .caret {
	float: right;
	margin-top: 7px;
}

.docs_category {
	display: inline-block;
	background-color: #004685;
	border-radius: 3px;
	font-size: 14px;
	height: 33px;
	width: 100%;
	border: 0;
	color: #fff;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}

.docs_block .sale_item {
	height: auto;
	padding: 20px;
}

.docs_block {
	min-height: 514px;
}

.docs_block .sale_item .sale_stuff_name_link a {
	color: #666666;
	text-decoration: none;
}

.docs_block .sale_item .add_to_cart a {
	background-color: #004685;
}


/*invert page*/

.inver_title h3, .inver_title .dropdown{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.inver_title .dropdown {
	min-width: 210px;
}

.inver_title .dropdown .dropdown-menu{
	right: 0;
}

.invert_table {
	min-height: 394px;
}

.table a {
	color: #004080;
}

.all_inst a{
	display: inline-block;
	margin-right: 20px;
	opacity: .6;
	margin-bottom: 10px;
	font-size: 14px;
	color: #004080;
}

.all_inst a:hover, .all_inst a.active {
	opacity: 1;
}

.all_inst a:hover {
	text-decoration: underline;
}

.invert_table th {
	color: #888888;
	font-size: 12px;
	font-weight: normal;
}

.invert_table td {
	vertical-align: middle!important;
}

.circle {
	width: 16px;
	height: 16px;
	margin: auto;
	margin-left: 15px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px -5px #000;
	background-color: #99c501;
}

.red_circle {
	background-color: #ee3423;
}

.invert_table td i, .inver_table td a{
	color: #004684;
}

.inver_table td a:hover {
	text-decoration: underline!important;
}

.htb strong {
	font-size: 16px;
}


/*invert2 page*/

.invert2_block_item {
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #e2e2e3;
}

.invert2_block_item h3 {
	margin-top: 0;
	font-size: 16px;
}

.invert2_block_item h4 {
	font-size: 12px;
	color: #888;
	margin: 20px 0;
}

.invert2_block_item p {
	margin: auto;
}

.inv2_img img{
	margin: auto;
	margin-top: 15%;
}

.invert2_block_item .exis_state {
	margin-top: 0;
}

.invert2_block_item .exis_state span{
	margin-top: 0;
}

.bor_r {
	border-right: 1px solid #e2e2e3;
}

.inv2_more {
	margin-top: 10px;
	margin-left: 20px;
	text-decoration: underline;
}

.

.invert2_block_item .row {
	display: table;
	margin: 0;
	margin-top: 25px;
	width: 100%;
}

.invert2_block_item [class*="col-"] {
}

.invert2_block_item .col-sm-3 {
}

.invert2_block_item .col-sm-6 {
}

.invert2_price {
	padding-left: 50px;
}

.invert2_price .no_state {
	padding-top: 25%;
}

/*new page*/

.new_date {
	color: #b8b8b9;
	font-size: 12px;
}

.new_block {
	min-height: 514px;
}

.new_block_content p{
	margin-bottom: 13px;
}

.new_block_content p a {
	text-decoration: underline;
}


/*news page*/

.read_more span{
	padding-left: 20px;
}
.read_more a {
	text-decoration: underline;
}

.news_block_item {
	padding: 20px 0;
	border-bottom: 1px solid #cacaca;
}

.news_block_item h4 a{
	font-size: 16px;
}

.news_block>.news_block_item:last-child {
	border: 0;
}

.news_block_item h4 {
	margin-top: 0;
	font-size: 16px;
	text-decoration: underline;
}

.news_paginator .pagination>li {
	margin: 0 5px;
	display: inline-block;
}

.news_paginator .pagination>li.active>a {
	text-decoration: none;
}

.news_paginator .pagination>li>a {
	border-radius: 50%;
	box-shadow: 0 0 30px -10px #000;
	text-decoration: underline;
}


/*prices page*/

.prices_table {
	min-height: inherit;
}

.prices_table td {
	width: 20%;
}

.prices_table td a {
	border-bottom: 1px dashed rgba(0, 70, 132, 0.5);
	font-size: 14px;
	color: rgba(0, 70, 132, 0.5);
}

.prices_table td a:hover {
	color: rgba(0, 70, 132, 1);
	border-color: rgba(0,70,132,1);
}

.price_title {
	font-size: 16px;
}

.price_subtitle {
	font-size: 14px;
	background-color: #fafafb;
	padding: 15px 10px;
	margin-bottom: 0;
}


/*tovar page*/

.docum a{
	display: block;
	text-decoration: underline;
	opacity: 1;
	text-transform: capitalize;
}

.docum a:hover {
	opacity: .7;
}

.tovar_block p.contact_p {
	margin-bottom: 15px;
}
.tovar_block p {
	margin-bottom: 5px;
}

#panel img {
	margin: auto;
}

#gallery {
	padding-top: 15%;
}

.lg_t {
	font-size: 18px;
}

.call_now {
	font-family: 12px;
	text-transform: capitalize;
	color: #888888;
	padding-left: 30px!important;
}

#gallery h3 {
	font-size: 12px;
	color: #808080;
	margin: 40px 0 20px;
	text-align: center;
}

#thumbs img {
	opacity: .6;
}

#thumbs img:hover {
	opacity: 1;
}

.count-input {
	position: relative;
	margin: 10px 0;
	display: table;
}
.count-input input {
	height: 36px;
	border: 1px solid #d6d6d6;
	background: none;
	font-size: 18px;
	width: 70px;
	text-align: center;
	margin: 0 20px;
}
.count-input input:focus {
	outline: none;
}
.count-input .incr-btn {
	display: table-cell;
	vertical-align: top;
	background-color: #004683;
	width: 36px;
	height: 36px;
	font-size: 26px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	text-decoration:none;
}
.count-input .incr-btn:first-child {
	background-color: #d6d6d6;
}

.exis_state {
	margin-top: 30px;
}

.exis_state span {
	display: inline-block;
	vertical-align: middle;
	margin: 10px auto;
	margin-right: 20px;
}

.adding_tovar .add_to_cart a {
	width: 60%;
}

.in_one_cl a {
	background-color: #55a7ca;
	box-shadow: 1px 1px 1px 0px #478ba8;
}

.tovar_slider .sale_item {
	height: auto;
	padding: 20px;
}

.tovar_panel {
	/*	min-height: 495px;*/
	margin-top: 40px;
}

.tovar_panel .nav-tabs>li>a {
	background-color: #e2e2e2;
	color: #555;
	font-family: NerisLight;
	margin-right: 12px;
}

.nav-tabs>li {
	margin-bottom: 0;
}

.tovar_panel .nav-tabs {
	margin-bottom: 30px;
}

.tovar_panel .nav-tabs>li.active>a, .tovar_panel .nav-tabs>li.active>a:focus, .tovar_panel .nav-tabs>li.active>a:hover {
	background-color: #58a9cb;
	color: #fff;
}

.video_tovar {
	margin-top: 40px;
	height: auto;
}

.video_tovar .video_slider_img img {
	height: auto;
	width: 100%;
	opacity: .5;
}

.thumb_slider {
	margin-top: 20px;
}

.thumb_slider .video_slider_img {
	margin: 0 5%;
}

.thumb_slider .video_slider_img:hover>img {
	opacity: 1;
}

.slick-initialized .slick-slide {
	outline: none;
}

.mg_tp {
	margin-top: 30px;
}

.tovar_table td {
	color: #888888;
	padding: 20px 8px!important;
}

.tovar_table .table>tbody>tr:first-child>td {
	border-top: 0;
}

#question form {
	max-width: 410px;
	margin: auto;
	text-align: center;
}

#question form input{
	height: 40px;
	border-radius: 2px;
}

.comment_head span {
	display: inline-block;
	margin-right: 20px;
}

.comment_name {
	font-weight: 700;
	color: #004080;
}

.comment_time {
	color: #b8b8b9;
	font-size: 12px;
}

.comment_item p {
	padding: 0 20px;
}

.comment_item {
	border-top: 1px solid #c9c9c9;
	padding: 20px 0;
}

.col-sm-2.left_side.hide_b {
	transition: all .1s linear;
}



/*404*/

.t_404 img{
	margin: auto;
	padding-bottom: 20px;
}

.t_404 {
	padding: 10% 0;
}

.t_sub_404 h2 {
	font-size: 24px;
	color: #555555;
	text-align: center;
	line-height: 1.2;
}

.t_sub_404 h2 a {
	color: #004480;
	text-decoration: underline;
}

.modal-dialog {
	width: 540px;
	top: 35%;
}

.modal-content {
	border-radius: 2px;
	padding: 20px;
	position: relative;
}

.modal-content .d_t_c:first-child  ul{
	padding-left: 0;
}

.modal-dialog ul {
	margin-bottom: 0;
	list-style-type: none;
}

.modal-dialog ul li {
	font-size: 16px;
	color: #000;
}


.ttu{
	text-transform: uppercase;
}


.modal-dialog ul li a:hover {
	text-decoration: underline;
}

.modal-dialog ul li a{
	color: #000;
}

.modal-footer {
	border: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.modal-footer .btn {
	padding: 3px 6px;
	border: 0;
	margin: 3px;
}

#myModal2 {
	margin: auto;
}

#myModal2 form {
	margin: 10px 0;
}

#myModal2 .modal-dialog, #myModal3 .modal-dialog, #myModal4 .modal-dialog {
	width: 370px;
	top: 20%;
}

#myModal2 .btn {
	/*	background-color: #004480;*/
}

#myModal3 .modal-dialog, #myModal4 .modal-dialog {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


/*cart page*/

.cart_img img {
}

.cart_table .count-input input {
	width: 60px;
}

.cart_table {
	border-bottom: 1px solid #cdcdcd;
	padding: 15px 0;
}

.red_pr {
	color: #e52231!important;
}

.cart_table .count-input {
	float: left;

}

.cart_img_td {
	width: 80px;
}

.price_t {
	float: left;
	padding-left: 10px;
	padding-top: 18px;
	color: #808080;
}

.all_pr {
	padding: 20px 0;
}

.oform_z a{
	display: inline-block;
	background-color: #004684;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	padding: 5px 48px 5px 48px;
	background-image: url(../img/sharp_lines.png);
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow: 1px 1px 1px 0px #013d71;
	position: relative;
	transition: all .1s linear;
}

.select_r {
	position: relative;
}

.select_r:after {
	content: '';
	position: absolute;
	right: 10px;
	top: 45%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
}

.select_r select {
	/*for firefox*/
	-moz-appearance: none;
	/*for chrome*/
	-webkit-appearance:none;
}

/*for IE10*/
.select_r select::-ms-expand {
	display: none;
}

.gra_t {
	color: #808080;
}

.cart_t {
	color: #004080;
	font-size: 16px;
	font-family: NerisSemiBold;
}

.cart_pr {
	color: #004080;
	padding-top: 20px;
	font-size: 22px;
	font-weight: bold;
}

.adf {
	margin-top: 20px;
}

.cart_tabs {
	border-bottom: 0;
}

.tovar_panel .cart_tabs.nav-tabs>li.active>a, .tovar_panel .cart_tabs.nav-tabs>li.active>a:focus, .tovar_panel .cart_tabs.nav-tabs>li.active>a:hover {
	background-color: #ee3423;
	background-image: url(../img/sharp_lines.png);
	border-radius: 3px;
}

.tovar_panel .cart_tabs.nav-tabs>li>a, .tovar_panel .cart_tabs.nav-tabs>li>a:focus, .tovar_panel .cart_tabs.nav-tabs>li>a:hover {
	background-color: #e2e2e3;
	margin: auto;
	border-radius: 3px;
	padding-left: 30px;
	padding-right: 30px;
}

.tovar_panel .cart_tabs.nav-tabs>li {
	margin: auto;
	border-radius: 3px;
}

.cart_form {
	max-width: 380px;
	padding: 0 10px;
	margin: auto;
	text-align: right;
}

.cart_form .btn {
	background-color: #004481;
}

.side_list .dropdown .dropdown-menu{
	top: 0;
	left: 100%;
	border-radius: 0;
	margin: auto;
	padding: 0;
	border: 0;
	box-shadow: none;
	margin-left: 1px;
}

.side_list .dropdown .dropdown-menu li:after {
	display: none;
}


.filter {
	background-color: #fff;
}

.filter_item {
	padding: 10px;
	border-bottom: 1px solid #e2e2e3;
}

.filter_name {
	font-size: 14px;
	color: #9f9f9f;
	margin: 5px 0;
}

.add_remove_filter {
	color: #555555;
	font-size: 12px;
	margin-bottom: 5px;
}

.add_remove_filter button {
	outline: inherit;
	background-color: transparent;
	border: 0;
	padding: 0;
	padding-right: 5px;
	position: relative;
	top: -1px;
}

.filter_b {
	margin: 5px 0;
}

.filter_b a span {
	border-bottom: 1px dashed #004080;
	color: #004080;
	font-size: 12px;
}


.filter_bar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 0 5px;
}

.filter_bar_item {
	position: relative;
	padding-top: 7px;
}

.filter_abar {
	margin-top: 20px;
}


.filter_b a img {
	margin-right: 10px;
}

.filter_bar_item:after {
	content: "";
	position: absolute;
	top: 5px;
	width: 1px;
	height: 5px;
	background-color: #cdcdcd;
}

.panel-collapse .checkbox {
	padding-left: 20px; }
.panel-collapse .checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.panel-collapse .checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #ee3423;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.panel-collapse .checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 5px;
	margin-left: -15px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555; }
.panel-collapse .checkbox input[type="checkbox"] {
	opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	background-color: #ee3423;
}
.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
	border-radius: 50%; }
.checkbox.checkbox-inline {
	margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
	border-color: #ee3423; }

.subfilter {
	padding: 0 10px;
}

/*bootstrap slider bar*/


/*! =======================================================
VERSION  9.7.3              
========================================================= */
/*! =========================================================
* bootstrap-slider.js
*
* Maintainers:
*		Kyle Kemp
*			- Twitter: @seiyria
*			- Github:  seiyria
*		Rohit Kalkur
*			- Twitter: @Rovolutionary
*			- Github:  rovolution
*
* =========================================================
*
* bootstrap-slider is released under the MIT License
* Copyright (c) 2017 Kyle Kemp, Rohit Kalkur, and contributors
* 
* Permission is hereby granted, free of charge, to any person
* obtaining a copy of this software and associated documentation
* files (the "Software"), to deal in the Software without
* restriction, including without limitation the rights to use,
* copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the
* Software is furnished to do so, subject to the following
* conditions:
* 
* The above copyright notice and this permission notice shall be
* included in all copies or substantial portions of the Software.
* 
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
* OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
* WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
*
* ========================================================= */.panel-collapse .slider{display:inline-block;vertical-align:middle;position:relative}.slider.slider-horizontal{width:90%;margin: auto; height:3px}.slider.slider-horizontal .slider-track{height:3px;width:100%;margin-top:4px;top:50%;left:0}.slider.slider-horizontal .slider-selection,.slider.slider-horizontal .slider-track-low,.slider.slider-horizontal .slider-track-high{height:100%;top:0;bottom:0}.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle{margin-left:-10px}.slider.slider-horizontal .slider-tick.triangle,.slider.slider-horizontal .slider-handle.triangle{position:relative;top:50%;transform:translateY(-50%);border-width:0 10px 10px 10px;width:0;height:0;border-bottom-color:#0480be;margin-top:0}.slider.slider-horizontal .slider-tick-container{white-space:nowrap;position:absolute;top:0;left:0;width:100%}.slider.slider-horizontal .slider-tick-label-container{white-space:nowrap;margin-top:20px}.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{padding-top:4px;display:inline-block;text-align:center}.slider.slider-horizontal.slider-rtl .slider-track{left:initial;right:0}.slider.slider-horizontal.slider-rtl .slider-tick,.slider.slider-horizontal.slider-rtl .slider-handle{margin-left:initial;margin-right:-10px}.slider.slider-horizontal.slider-rtl .slider-tick-container{left:initial;right:0}.slider.slider-vertical{height:210px;width:20px}.slider.slider-vertical .slider-track{width:10px;height:100%;left:25%;top:0}.slider.slider-vertical .slider-selection{width:100%;left:0;top:0;bottom:0}.slider.slider-vertical .slider-track-low,.slider.slider-vertical .slider-track-high{width:100%;left:0;right:0}.slider.slider-vertical .slider-tick,.slider.slider-vertical .slider-handle{margin-top:-10px}.slider.slider-vertical .slider-tick.triangle,.slider.slider-vertical .slider-handle.triangle{border-width:10px 0 10px 10px;width:1px;height:1px;border-left-color:#0480be;border-right-color:#0480be;margin-left:0;margin-right:0}.slider.slider-vertical .slider-tick-label-container{white-space:nowrap}.slider.slider-vertical .slider-tick-label-container .slider-tick-label{padding-left:4px}.slider.slider-vertical.slider-rtl .slider-track{left:initial;right:25%}.slider.slider-vertical.slider-rtl .slider-selection{left:initial;right:0}.slider.slider-vertical.slider-rtl .slider-tick.triangle,.slider.slider-vertical.slider-rtl .slider-handle.triangle{border-width:10px 10px 10px 0}.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label{padding-left:initial;padding-right:4px}.slider.slider-disabled .slider-handle{}.slider.slider-disabled .slider-track{background-image:-webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:-o-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5',endColorstr='#ffe9e9e9',GradientType=0);cursor:not-allowed}.slider input{display:none}.slider .tooltip.top{margin-top:-36px}.slider .tooltip-inner{white-space:nowrap;max-width:none}.slider .hide{display:none}.slider-track{position:absolute;cursor:pointer;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);border-radius:4px}.slider-selection{position:absolute;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-selection.tick-slider-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0)}.slider-track-low,.slider-track-high{position:absolute;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-handle{position:absolute;top:0;border: 3px solid #cdcdcd; width:15px;height:15px;background-color:#ee3423;background-image:-webkit-linear-gradient(top,#ee3423 0,#ee3423 100%);background-image:-o-linear-gradient(top,#ee3423 0,#ee3423 100%);background-image:linear-gradient(to bottom,#ee3423 0,#ee3423 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);filter:none;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);}.slider-handle.round{border-radius:50%}.slider-handle.triangle{background:transparent none}.slider-handle.custom{background:transparent none}.slider-handle.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick{position:absolute;width:20px;height:20px;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;filter:none;opacity:.8;border:0 solid transparent}.slider-tick.round{border-radius:50%}.slider-tick.triangle{background:transparent none}.slider-tick.custom{background:transparent none}.slider-tick.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick.in-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0);opacity:1

	/*bootstrap slider bar end*/




	@-moz-document url-prefix() { 
		.addtional_block_img {
			height: 130px;
		}

		.dropdown .dropdown-toggle .caret {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

	@-moz-document url-prefix() { 
		.addtional_block_img {
			height: 130px;
		}

		.dropdown .dropdown-toggle .caret {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}