@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
    .callback, .contact_full, .h_socials, .h_enter {
        display: none;
    }

    .contact_phone_n {
        text-align: center;
    }

    .phone_city_item {
        margin: 5px 0;
    }

    .h_tel, .w_t {
        display: block;
        text-align: center;
    }

    .work_time span {
        display: inline-block;
    }

    .hide_b {
        display: none;
    }

    .f_w_b {
        width: 100%;
    }

    .left_side{
        width: 45%;
        margin-top: 20px;
    }

    .right_side{
        width: 100%;
    }

    .right_side.col-sm-push-2 {
        left: auto;
    }

    .left_side.col-sm-pull-10 {
        right: auto;
    }

    .top_slider {
        /*        margin-top: 0;*/
    }

    .footer_double{
        display: table;
    }

    .footer_list>.footer_double_list{
        display: table-cell;width: 50%;
    }

    .diller a {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        padding: 18px 12px;
        text-align: center;
        line-height: 1.2;
    }

    .lg_d_n {
        display: block;
    }

    .d_t_c.lg_d_n {
        display: table-cell;
    }

    .callback_diller a{
        color: #fff;
        text-align: center;
        background-image: url(../img/sharp_lines.png);
        background-color: #004481;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .diller a img {
        margin: auto;
        height: 25px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 960px) {


}

@media screen and (max-width: 800px) {
    .header_tel span {
        font-size: 20px;
    }

    .top_slider_content_box {
        margin: auto;
        float: none;
        margin: 0 50px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .main_footer_part .right_side, .main_footer_part .left_side {
        width: 50%;
    }

    .left_side {
        margin-top: 0;
    }

    .video_slider_box {
        height: 442px;
    }

    .top_slider_content_box {
        margin-bottom: 20px;
    }

    .phone_tarif {
        padding: 0;
    }

    .video_tovar {
        height: auto;
    }

    .panel-group {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .main_footer_part {
        max-height: inherit;
    }
    
    .navbar-nav>li {
        display: block;
        text-align: left;
    }

    .navbar-nav {
        position: relative;
    }

    .close_btn {
        background-color: transparent!important;
        border: 0!important;
        position: absolute!important;
        right: 0px;
        margin-top: 0!important;
        padding: 0!important;
        top: 0px;
        z-index: 3;
    }

    .close_btn button {
        background-color: transparent;
        border: 0;
    }

    .navbar-default .navbar-nav>li>a {
        color: #000;
    }

    .phone_city_item {
        width: 50%;
        float: left;
        display: block;
        text-align: left;
        border: 0;
    }

    .work_time {
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .diller a {
        height: 50px;
        width: 50px;
        padding: 12px 0;
        font-size: 0;
    }

    .d_t {
        width: 100%;
    }

    .navbar-toggle {
        float: none!important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #004480;
    }

    .offcanvas-toggle .icon-bar {
        background-color: #fff;
        margin: auto;
    }

    .header_logo img {
        width: 60%;
    }

    .d_t_c.lg_d_n {
        text-align: right;
    }

    .navigation {
        height: 0;
    }

    .cart {
        padding-left: 0px;
        margin-top: 20px;
    }

    .sale_stuff_box .row [class*="col-"]:first-child {
        padding-left: 15px;
    }

    .sale_stuff_box [class*="col-"] {
        float: left;
        display: block;
    }

    .main_mid_p>.container, .sale_stuff_box .row [class*="col-"]:last-child {
        padding-right: 15px;
    }

    .catalog_item {
        margin-top: 10px;
    }

    .main_footer_part .right_side, .main_footer_part .left_side {
        width: 100%;
    }

    .main_footer_content ul {
        padding: 0;
    }

    .main_footer_content h4 {
        margin: 10px 0 0;
    }

    .main_footer_part .col-sm-6:last-child {
        margin-top: 30px;
    }

    .socials {
        display: none;
    }

    a.t_d_u {
        text-decoration: underline!important;
    }

    .video_slider_img img {
        width: 100%;
    }

    .main_footer_part>.container>.row>.right_side {
        padding-left: 15px!important;
        padding-right: 15px!important;
        margin: auto;
    }

    .video_slider_box {
        height: 242px;
    }

    .flipkart-navbar-button {
        font-size: 0;
    }

    .flipkart-navbar-button i {
        margin: auto;
    }


    .sale_stuff_box .row {
        margin-top: 0;
    }
    .cart .d_t_c {
        display: inline-block;
    }

    .left_side {
        margin-top: 0;
        width: 50%;
    }

    .bor_r {
        border: 0;
    }

    .docs_block .dropdown, .docs_block .sale_item {
        margin-bottom: 20px;
    }

    .inver_title .dropdown {
        display: none;
    }

    .invert2_price, .invert2_block {
        padding: 0 15px;
    }

    .count-input {
        margin: 10px auto
    }

    .inv2_more {
        margin-bottom: 20px;
    }

    .tovar_block .count-input {
        margin: 10px 0;
    }

    .top_slider_content {
        padding: 0;
    }

    .tovar_slider .slick-prev {
        left: 0;
    }

    .tovar_slider .slick-next {
        right: 0;
    }

    .tovar_panel .dropdown {
        margin-bottom: 20px;
    }

    .tovar_panel .dropdown-menu {
        right: 0;
    }

    .filter_btn a {
        text-align: center;
    }

    .filter_btn a:after {
        background-image: url(../img/settings.png);
        width: 22px;
        height: 18px;
        -webkit-background-size: cover;
        background-size: cover;
        margin-left: 60px;
        right: 0;
        left: 0;
        top: -1px;
    }

    #heading3 h4 a{
        position: relative;
        text-align: center;
    }

    #heading3 h4 a:after {
        content: "";
        position: absolute;
        background-image: url(../img/detail.png);
        width: 20px;
        height: 20px;
        margin-left: 30px;
        right: 0;
        left: 0;
        top: -2px;
    }

    .stuff_descr p {
        text-align: justify;
    }

    .top_slider_text {
        width: 99.4%;
    }

    .top_slider {
        margin-top: 0px;
        padding-bottom: 40px;
    }

    .art_title {
        padding: 0;
    }

    .addtional_block_img {
        padding: 0 20px;
    }

    .top_slider .slick-prev, .top_slider .slick-next {
        display: none!important;
    }

    .top_slider .slick-next {
        right: 0;
    }

    .sale_item {
        margin-top: 14px;
    }

    .addtional_block_img {
        background-position: center;
    }

    .offcanvas-toggle.is-open .icon-bar {
        -webkit-transform: none!important;
        transform: none!important;
        opacity: 1!important;
    }

    .invert2_price {
        margin-top: 20px;
    }

    .phone_city_item:nth-child(2n+2) {
        border-left: 1px solid #eeeff0;
        padding-left: 20px;
    }

    .top_slider {
        padding: 0;
    }


    .add_to_cart {
        text-align: center;
    }

    .add_to_cart a {
        width: auto;
        padding: 7px 20px;
        margin: auto;
    }

    .phone_city_item:first-child {
        padding-left: 23px;
    }

    .header_logo img {
        margin-left: -40px;
    }

    .kab {
        margin-right: -50px;
    }

    .panel-group {
        margin-top: 20px;
    }

    .tovar_panel {
        border-top: 1px solid #cdcdcd;
        padding-top: 20px!important;
    }

    .video_tovar {
        height: auto;
    }

    .invert2_block_item {
        float: left;
        margin: 0 5px;
        width: 48%;
        margin-bottom: 10px;
    }

    .news_paginator  {
        clear: both;
    }

    .modal-dialog {
        margin: auto;
    }

    .modal-footer {
        display: block;
    }

    #myModal2 .modal-footer .btn{
        background-color: transparent;
        border: 0;
    }

    .main_footer_content .row .col-sm-6:first-child, .main_footer_content .row .col-sm-6:last-child {
        border: 0;
    }
}

@media screen and (max-width: 480px) {
    .header_head .d_t_c {
        padding: 0  6px;

    }

    .invert2_block_item {
        width: 100%;
    }

    .left_side.col-xs-12{
        padding: 0;
    }

    .kab {
        margin: auto;
    }

    .header_logo img {
        margin-left: 0;
    }

    .phone_city_item:first-child {
        padding-left: 0;
    }

    .catalog_title h3 {
        text-align: center;
    }

    .header_logo img {
        width: 100%;
    }

    .phone_city_item {
        padding: 0;
    }

    .right_side {
        padding: 0;
    }

    .addtional_block_img, .site_nav, .catalog_title, .stuff_descr, .new_block, .contacts_block, .docs_block, .news_block, .tovar_block, .tovar_slider, .mg_tp, .tovar_panel {
        padding: 0 15px;
    }

    .main_footer_content ul li a {
        display: table-cell;
    }

    .main_upper_part .right_side, #question form {
        padding: 0 15px;
    }

    .left_side.col-xs-12 {
        width: 100%;
    }

    .d_t.catalog_item_desc div{
        display: block;
        text-align: center;
    }

    .news_list_img {
        padding-right: 10px;
        display: table-cell
    }

    .contacts_block form{
        text-align: center;
    }

    .col-xs-6 {
        width: 100%;
    }

    .new_block_img {
        margin-bottom: 20px;
    }

    .play_btn {
        width: 35px;
        height: 35px;
    }

    .video_title {
        font-size: 14px;
    }

    #gallery {
        margin-bottom: 20px;
    }

    #largeImage {
        width: 70%;
    }

    #gallery {
        padding-top: 0;
    }

    #thumbs img {
        opacity: .6;
    }

    .exis_state, .tovar_block .count-input {
        float: left;
    }

    .tovar_slider .top_slider_content {
        margin-left: -40px;
        padding: 0 20px;
    }

    .tovar_block .exis_state {
        margin: 10px 20px;
    }

    .col-sm-7.col-xs-12 .exis_state{
        margin: auto;
        float: none;
        display: inline-block;
    }

    .col-sm-7.col-xs-12 {
        text-align: center;
    }

    .tovar_block .add_to_cart, .col-sm-7.col-xs-12 .exis_state {
        display: inline-block;
        margin: 0 2px;
    }

    .tovar_block .add_to_cart a, .col-sm-7.col-xs-12 .exis_state a {
        width: 100%;
    }

    .filter_btn a:after {
        margin-left: 80px;
    }


    #heading3 h4 a:after {
        margin-left: 40px;
    }

    .top_slider_text {
        /*        width: 99%;*/
    }

    .top_slider .slick-slide img {
        width: 100%;
    }

    .slick-dots {
        left: 0;
    }

    .slick-dots li {
        width: 17%;
        margin-top: 10px;
    }

    .diller a {
        padding-top: 13px;
    }

    .top_slider_content_box {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .site_nav_divider {
        padding: 0 10px;
    }

    .pd {
        padding: 0 15px!important;
    }

    .t_404 {
        padding: 0 20px;
    }

    .t_sub_404 h2 {
        font-size: 18px;
    }

    .modal-dialog {
        top: 0;
        width: auto;
        padding: 20px;
    }

    .modal-content .d_t_c {
        display: block;
    }
}

@media screen and (max-width: 340px) {

}